# Ignore everything by default
*

# But do NOT ignore these specific folders and their contents
!Problem Set 1/
!Problem Set 1/**
!Problem Set 2/
!Problem Set 2/**

# Do not ignore the gitignore file itself
!.gitignore